@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
  @apply font-roboto-condensed py-2 px-10 border-2 rounded uppercase duration-300 active:scale-95  hover:shadow-xl hover:text-white;
}

input::placeholder {
  color: #bfdbfe;
  font-weight: 400;
  font-size: 0.85rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #f97316;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}
